.mangaCard {
    width: 225px;
    height: 319px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 10px;
    &:hover .image {
        transform: scale(1.1);
    }
    .image {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transition: 0.3s;
        cursor: pointer;
        img {
            border-radius: 10px;
            width: 225px;
            height: 319px;
            background-size: cover;
            object-fit: cover;
        }
    }
    .bgGradient {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(transparent, #00000060, #00000090);
    }
    .title {
        position: absolute;
        bottom: 20px;
        left: 20px;
        width: 60%;
    }
}
