.nav {
    width: 100%;
    padding: 2vh 15vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: #00000000;
    backdrop-filter: blur(10px);
    .logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 140px;
    }
    .options {
        display: flex;
        align-items: center;
        .option {
            margin: 0 15px;
            font-size: 1.15em;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 500;
        }
        .profile {
            padding-left: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
    }
}
